<tr>
    {{#if sender_name}}
        <td>{{sender_name}} ({{sender_username}})</td>
    {{else}}
        <td>{{sender_username}}</td>
    {{/if}}
    <td>{{text}}</td>
    <td>{{timestamp}}</td>
</tr>